<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.angelhack.ladyproblems">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.FaceEmoDetectActivity"
            android:label="@string/title_activity_face_emo_detect"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CamDetectActivity"
            android:label="@string/title_activity_cam_detect"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.LetStartActivity"
            android:label="@string/title_activity_let_start"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R1Activity"
            android:label="Question 1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R2Activity"
            android:label="Question 2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R3Activity"
            android:label="Question 3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R4Activity"
            android:label="Question 4"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R5Activity"
            android:label="Question 5"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R6Activity"
            android:label="Question 6"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R7Activity"
            android:label="Question 7"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.R8Activity"
            android:label="Question 8"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>